// values
$bgcolor: #c2b59b;
// Baseline
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.89);
}

article {
  padding: 2rem 1rem;
}

// My code
#popup {
  position: fixed;
  width: 90%;
  height: 70%;
  margin-top: 1%;
  margin-left: 5%;
  box-shadow: 5px 5px 5px gray;
  background-color: $bgcolor;
  z-index: 99;
  animation: 1s scale;
  @keyframes scale {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

  #close {
    background-color: gray;
    color: white;
    float: right;
  }

  #around {
    clear: left;
    color: darkslategrey;
    font-size: 1.2rem;
    font-family: Noteworthy;
    img {
      width: 100%;
      box-shadow: 5px 5px 5px gray;
    }
    p {
      padding: 0.3em;
    }
  }
}
.hidden {
  display: none;
}
#container {
  margin: 0 auto;
  height: 100%;
  background-color: #ede9e4;
  header {
    background-image: url("../../imgs/Tropical-Stream_s.jpg");
    background-size: 100% 100%;
    #toptop {
      display: flex;
      width: 100%;
      height: 50px;
      background: -webkit-linear-gradient(bottom, #ede9e4, $bgcolor);
      background-color: $bgcolor;
      justify-content: space-between;
      padding-left: 1em;
      align-items: center;
      #logo {
        height: 45px;
        float: left;
        img {
          height: 45px;
        }
      }
      .social {
        height: 40px;
        img {
          height: 40px;
        }
      }
    }
    #top {
      width: 100%;
      height: 100px;
    }
    @mixin padding($value: 1em) {
      padding-bottom: $value;
      padding-left: $value;
      padding-right: $value;
    }
    h1 {
      font-family: Chalkduster;
      font-size: 1em;
      margin-top: -2.5em;
      @include padding();
    }
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-inline-start: 0;
    li {
      list-style: none;
      height: 50px;
      border-bottom: solid 1px #aca089;
      text-align: center;
      padding-top: 0.5em;
      background-color: #cec0a5;
      box-shadow: 5px 5px 5px gray;
      font-family: Chalkduster;
      font-size: 1.3em;
      :hover {
        color: purple;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .huabian {
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
  }
  .block {
    height: 30%;
    width: 100%;
    text-align: center;
    p {
      color: darkslategrey;
      font-size: 1.5rem;
      font-family: Noteworthy;
      text-shadow: 3px 3px 3px gray;
    }
    .btn {
      margin-bottom: 1em;
    }

    table {
      width: 70%;
      height: 200px;
      background-color: $bgcolor;
      font-family: Chalkduster;
      font-size: 0.8em;
      margin: 0 auto;
      padding: 1em;
      margin-bottom: 15px;
      box-shadow: 5px 5px 5px 3px gray;
      text-align: center;
      td:first-child {
        width: 30%;
      }
    }
    .contact {
      width: 60%;
      height: 200px;
      background-color: $bgcolor;
      font-family: Chalkduster;
      margin: 0 auto;
      padding: 1em;
      margin-bottom: 20px;
      box-shadow: 5px 5px 5px 3px gray;
    }
    #portfolio {
      display: flex;
      width: 100%;
      height: 70%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px;
      #first {
        width: 100%;
        .flex-item {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 2px;
          margin: 14px;
          box-shadow: 5px 5px 5px 3px gray;
          background-color: $bgcolor;
          text-decoration: none;
          img {
            height: 150px;
            margin: 0 auto;
          }
          p {
            font-size: 1em;
            margin-top: 0.5em;
          }
        }
        :hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
      :hover {
        opacity: 1;
      }

      #second {
        width: 100%;
        .flex-item {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 2px;
          margin: 14px;
          box-shadow: 5px 5px 5px 3px gray;
          background-color: $bgcolor;
          text-decoration: none;
          img {
            height: 150px;
            margin: 0 auto;
          }
          p {
            font-size: 1em;
            margin-top: 0.5em;
          }
        }
        :hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
      :hover {
        opacity: 1;
      }
    }
  }
  footer {
    width: 100%;
    background-color: $bgcolor;
    background: -webkit-linear-gradient(top, #ede9e4, $bgcolor);
    #footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-block-start: 0;
      height: 100%;
      li {
        list-style: none;
        margin: 0.8em;
        :hover {
          color: purple;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    p {
      text-align: center;
      font-size: 0.5em;
    }
  }
}

@media screen and (min-width: 620px) {
  // Baseline
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    background-color: #feffff;
    color: rgba(0, 0, 0, 0.78);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-size: 100%;
    line-height: 1.64rem;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgba(0, 0, 0, 0.89);
  }

  article {
    padding: 2rem 1rem;
  }

  // My code
  #popup {
    position: fixed;
    width: 90%;
    height: 95%;
    margin-left: 5%;
    margin-top: 1%;
    box-shadow: 10px 10px 10px gray;
    background-color: $bgcolor;
    z-index: 99;
    animation: 1s scale;
    @keyframes scale {
      0% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    #close {
      background-color: gray;
      color: white;
      float: right;
    }
    #around {
      color: darkslategrey;
      font-size: 1.5rem;
      font-family: Noteworthy;
      img {
        width: 100%;
        float: left;
        box-shadow: 5px 5px 5px gray;
      }
      p {
        clear: both;
        padding: 0.5em;
      }
    }
  }
  .hidden {
    display: none;
  }
  #container {
    margin: 0 auto;
    height: 100%;
    background-color: #ede9e4;
    background: -webkit-radial-gradient(#ede9e4, $bgcolor);

    header {
      background-image: none;
      #toptop {
        display: flex;
        justify-content: space-between;
        padding-left: 2em;
        width: 100%;
        height: 50px;
        background: -webkit-linear-gradient(bottom, #ede9e4, $bgcolor);
        background-color: $bgcolor;
        #logo {
          height: 45px;
          float: left;
          img {
            height: 45px;
          }
        }
        .social {
          height: 45px;
          img {
            height: 45px;
          }
        }
      }
      #top {
        background-image: url("../../imgs/Tropical-Stream_s.jpg");
        background-size: 100% 100%;
        float: left;
        margin-bottom: 1em;
        width: 59%;
        height: 200px;
      }
      h1 {
        width: 39%;
        float: right;
        font-family: Chalkduster;
        font-size: 1.7em;
        margin-left: 2%;
        margin-top: 1em;
        padding-bottom: 0;
        line-height: 1.2em;
      }
    }
    nav {
      clear: both;
      #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-inline-start: 0;
        li {
          list-style: none;
          height: 50px;
          width: 200px;
          padding-top: 0.5em;
          text-align: center;
          background-color: #cec0a5;
          box-shadow: 5px 5px 5px gray;
          font-family: Chalkduster;
          font-size: 1.6em;
          :hover {
            color: purple;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .huabian {
      display: block;
      width: 90%;
      height: 30px;
      margin: 0 auto;
    }
    .block {
      width: 100%;
      text-align: center;
      p {
        color: darkslategrey;
        font-size: 2rem;
        font-family: Noteworthy;
        text-shadow: 3px 3px 3px gray;
        text-align: left;
        margin: 1em;
      }
      .btn {
        float: left;
        margin-left: 1em;
      }

      table {
        width: 50%;
        background-color: $bgcolor;
        font-family: Chalkduster;
        font-size: 1.3em;
        margin: 0 auto;
        padding: 1em;
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px 3px gray;
        text-align: left;
        clear: both;
        td:first-child {
          width: 40%;
          padding-left: 1em;
        }
      }
      .contact {
        width: 50%;
        height: 200px;
        background-color: $bgcolor;
        font-family: Chalkduster;
        margin: 0 auto;
        padding: 1em;
        margin-bottom: 25px;
        box-shadow: 5px 5px 5px 3px gray;
        text-align: left;
      }
      #portfolio {
        display: flex;
        width: 95%;
        height: 70%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px;
        #first {
          width: 100%;
          .flex-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 2px;
            margin: 14px;
            box-shadow: 5px 5px 5px 3px gray;
            background-color: $bgcolor;
            text-decoration: none;
            img {
              height: 250px;
              margin: 0 auto;
            }
            p {
              text-align: center;
              font-size: 1.5em;
            }
          }
          :hover {
            opacity: 0.6;
            cursor: pointer;
          }
        }
        :hover {
          opacity: 1;
        }
        #second {
          width: 100%;
          .flex-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 2px;
            margin: 14px;
            box-shadow: 5px 5px 5px 3px gray;
            background-color: $bgcolor;
            text-decoration: none;
            img {
              height: 250px;
              margin: 0 auto;
            }
            p {
              text-align: center;
              font-size: 1.5em;
            }
          }
          :hover {
            opacity: 0.6;
          }
        }
        :hover {
          opacity: 1;
        }
      }
    }
    footer {
      width: 100%;
      background-color: $bgcolor;
      background: -webkit-linear-gradient(top, #ede9e4, $bgcolor);
      #footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-block-start: 0;
        height: 100%;
        li {
          list-style: none;
          margin: 1em;
          :hover {
            color: purple;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
      p {
        text-align: center;
        font-size: 0.7em;
      }
    }
  }
}
